<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="static/js/nouislider.min.js"></script>
  <link rel="stylesheet" href="static/css/nouislider.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen" />

  <script src="static/js/script.js"></script>
  <title>CS178 Midterm</title>
</head>
<body>
  <div class="screen-container">

    <!-- drop down menus -->
    <div class="top-interactions">
        <label for="xaxis-data"> X: </label>
        <select name="xaxis-data" onchange="update_dropdown(this.value, 'xOption')">
            {% for option in xOptions %}
            
                <option id="x-dropdown" value="{{option}}">{{ option }}</option>
            {% endfor %}
        </select>
        <label for="yaxis-data"> Y: </label>
        <select name="yaxis-data" onchange="update_dropdown(this.value, 'yOption')">
            {% for option in yOptions %}
                <option id="y-dropdown" value="{{option}}">{{ option }}</option>
            {% endfor %}
        </select>
        <label for="twocharts-diff"> Facet: </label>
        <select name="twocharts-diff" onchange="update_dropdown(this.value, 'facetOption')">
            {% for option in facetOptions %}
                <option id="facet-dropdown" value="{{option}}" >{{ option }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- divs that hold the graphs  -->
    <div class="graphs">
      <div id="scatter1"></div>
      <div id="scatter2"></div>
    </div>

    <!-- the sliders -->
    <div class="side-interactions">
      <p>Internships</p><div id="Internships-slider" style="width:400pt; display: inline-block"></div>
      <p>Projects</p><div id="Projects-slider" style="width:400pt; display: inline-block"></div>
      <p>ApptitudeTestScore</p><div id="AptitudeTestScore-slider" style="width:400pt; display: inline-block"></div>
      <p>SoftSkillsRating</p><div id="SoftSkillsRating-slider" style="width:400pt; display: inline-block"></div>
      <p>SSC_Marks</p><div id="SSC_Marks-slider" style="width:400pt; display: inline-block"></div>
      <p>HSC_Marks</p><div id="HSC_Marks-slider" style="width:400pt; display: inline-block"></div>
    </div>

    <script>

      margin = {top: 45, right: 30, bottom: 30, left: 45},
      width = 460 - margin.left - margin.right,
      height = 600 - margin.top - margin.bottom;

      scatter1_svg = draw_svg('scatter1', margin, width, height); 
      scatter2_svg = draw_svg('scatter2', margin, width, height); 

      {% for column, (min,max) in filter_ranges.items() %}
        draw_slider('{{column}}', {{min}}, {{max}})
      {% endfor %}

      scatter1_scale = draw_axes("scatter1", scatter1_svg, width, height, [0,0], [0,0])
      scatter2_scale = draw_axes("scatter2", scatter2_svg, width, height, [0,10], [0,0])

      update_plots(
          currentState.xOption,
          currentState.yOption,
          currentState.facetOption
      )

    </script>
  </div>
</body>
</html>